<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <nav>
            {% if user.is_authenticated %}
                <span>Hallo, {{ user.username }}</span>
                <a href="{% url 'admin:logout' %}">Ausloggen</a>
            {% else %}
                <a href="{% url 'admin:login' %}">Einloggen</a>
            {% endif %}
        </nav>

        <main>
            {% block content %}
            {% endblock %}
        </main>

        <footer>... Footer ...</footer>
    </body>
</html>