{% extends 'base.html' %}

{% block content %}
    <a href="{% url 'book-create' %}">+ Neues Buch</a>
    <ul>
        {% for book in books %}
            <li>
                <a href="{% url 'book-detail' book.pk %}" style="display: flex; flex-direction: row; gap: 60px">
                    <span>{{ book.title }}</span>
                    <span>{{ book.author_key }}</span>
                    <span>Erschienen: {{ book.published_date }}</span>
                    {% if book.pages > 500 %}
                        <span>(Ein dicker Schinken!)</span>
                    {% endif %}
                </a>
            </li>
        {% empty %}
            <li>Noch keine Bücher vorhanden.</li>
        {% endfor %}
    </ul>
{% endblock %}
